body{
    font-family: sans-serif;
    margin: 0 3%;
}

section{
    margin: 5% 0;
    min-height: 200px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 2% 0;
}
button{
    cursor: pointer;
}
button:hover{
    background: black !important;
    color: white;
    transition: 0.5s;
}
.layout{
    display: flex;
    flex-direction: column;
}
.current{
    text-align: center;
}
.enclos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5% 3%;
    grid-gap: 5%;
    min-height: 100px;
}

.panda{
    border: 1px solid green;
}

.dauphins{
    border: 1px solid blue;
}

.lion{
    border: 1px solid red;
}
.actions{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    height: 50%;
    justify-content: space-between;
}

.actions > button{
    background: transparent;
    border: 1px solid black;
    border-radius: 5px;
    padding: 8% 0;
    min-width: 100px;
    margin-top: 5px;
}


.enclos > div{
    margin: auto;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.animal{
    width: 100%;
    margin-bottom: 5px;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.actions > button:nth-child(1):hover{
    background: red !important;
    color: white;
    transition: 0.5s;
}

.actions > button:nth-child(2):hover{
    background: blue !important; 
    color: white;
    transition: 0.5s;
}

.actions > button:nth-child(3):hover{
    background: orange !important;
    color: white;
    transition: 0.5s;
}